extends layouts/main
include mixins/videoBlock

block content
    .user-profile
        .user-profile__header
            .user-profile__column
                img.u-avatar(src=user.avatarUrl)
                .profile-user__column
                        h4.profile__username=user.name
                        p.profile__description=user.description
                .profile-user__column
                        button.profile__likeBtn.pulse.raise Like 
                           i.far.fa-thumbs-up
                .profile-detail__column
                    h5.profile__videoNum=user.videos.length
                    span Videos
                .profile-detail__column
                    h5.profile__commentNum=user.comments.length
                    span Comments
                .profile-detail__column
                    h5.profile__likeNum=millify(user.likes,{ precision: 2,  decimalSeparator: '.'})
                    h5.profile__likeNum.blind=user.likes
                    span Likes
            .user-profile__column
            if loggedUser && loggedUser.id === user.id
                .user-profile__btns
                    a(href=`/users${routes.editProfile}`)
                        button ✏️ Edit Profile
                    a(href=`/users${routes.changePassword}`)
                        button 🔒 Change Password 
        .home-videos
                each item in user.videos
                    +videoBlock({
                        id:item.id,
                        title:item.title,
                        views:item.views,
                        videoFile:item.fileUrl,
                        thumbnail:item.thumbnail,
                        createdAt:item.createdAt,
                        creatorName:item.creator.name,
                        creatorId:item.creator.id,
                        avatarUrl:item.creator.avatarUrl
                    })
                