extends layouts/main
include mixins/videoPlayer

block content
    .video-detail__container
        +videoPlayer({
                src:video.fileUrl,
                thumbnail:video.thumbnail
            })
        .video__info
            if loggedUser && video.creator.id === loggedUser.id
                a(href=routes.editVideo(video.id))
                    button Edit video
            h5.video__title=video.title
            .video__detail
                .video__column
                    if video.views === 1
                        span.video__views#videoViews 1 view
                    else 
                        span.video__views#videoViews #{video.views} views
                    
                    .video__date=moment(video.createdAt).format('YYYY. MM .DD')
                .video__column
                    i.fas.fa-thumbs-up
                    i.fas.fa-thumbs-down
                    i.fas.fa-share
                    i.fas.fa-plus
                    i.fab.fa-font-awesome-flag 
                        
        .video__info-detail
            .video__author
                img.u-avatar(src=video.creator.avatarUrl)
                a(href=routes.userDetail(video.creator.id))=video.creator.name
            .video__description
                pre.video__description-text.clamp=video.description
                button.video__description-btn
                    i.fas.fa-caret-down
        .video__comments
                if video.comments.length === 1
                    span.video__comment-number
                        span#jsCommentNumber 1
                        |  comment
                else
                    span.video__comment-number
                        span#jsCommentNumber=video.comments.length
                        |  comments
                form.add__comment#jsAddComment
                    if loggedUser
                        .add__comment-user
                            img.u-avatar(src=loggedUser.avatarUrl)
                            a(href=routes.userDetail(loggedUser.id))
                                span=loggedUser.name
                        .add__comment-input
                            input.input(type="text", placeholder="Add a comment")
                ul.video__comments-list#jsCommentList
                    .comment__column-blind
                            li
                                img.u-avatar
                                .comment__detail
                                    .comment__detail-author
                                        a
                                        span
                                    .comment__detail-text
                                    a
                                        span.comment__deleteBtn ❌
                    each comment in video.comments.reverse()
                        .comment__column
                            li
                                img.u-avatar(src=comment.creator.avatarUrl)
                                .comment__detail
                                    .comment__detail-author
                                        a(href=routes.userDetail(comment.creator.id))=comment.creator.name
                                        span=moment(comment.createdAt).startOf('minute').fromNow()
                                    .comment__detail-text
                                        span=comment.text
                                if loggedUser && comment.creator.id === loggedUser.id
                                    a(href=`/api/${comment.id}/commentDelete`)#jsDeleteBtn
                                        span.comment__deleteBtn ❌
                        